.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  gap: 1.25rem;

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    .cardImage {
      position: relative;
      width: 300px;
      height: 196px;
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    .authorInformation {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
    }

    .description {
      line-height: 104%;
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--white);
      max-width: 392px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
