.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .showAllWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .showAll {
      background-color: var(--white);

      &.redirect {
        background-color: var(--yellow);
        text-decoration: none;

        a {
          color: var(--black);
          text-decoration: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
