.container {
  position: relative;

  :global(.swiper-pagination) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.swiper-pagination-bullet) {
    background-color: var(--bullet-inactive-background);
    width: 6.6px;
    height: 6.6px;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--yellow);
    width: 11.8px;
    height: 11.8px;
  }

  .customPagination {
    width: 100%;
    height: 50px;
  }

  .arrows {
    padding: 4rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    transform: translateY(-50%);
    color: var(--white);

    .leftArrow,
    .rightArrow {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
      pointer-events: all;

      &:hover {
        background-color: var(--arrow-hover);
      }
    }

    .rightArrow {
    }
  }

  :global(.swiper-scrollbar) {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 6px;
    background-color: var(--border);
    border-radius: 3px;
    z-index: 100;
  }

  :global(.swiper-scrollbar-drag) {
    background-color: var(--yellow);
    border-radius: 3px;
    height: 100%;
    width: auto;
  }

  .customScrollbar {
    max-width: 70%;
    width: 70%;
    background-color: var(--weak-text);
  }
}

@media (max-width: 1080px) {
  .container {
    .arrows {
      padding: 4rem 2rem;
    }

    .customScrollbar {
      max-width: 100%;
      width: 100%;
      background-color: var(--weak-text);
    }
  }
}

@media (max-width: 768px) {
  .container {
    .customScrollbar {
      max-width: 90%;
      width: 100%;
      left: 50%;
      transform: translateX(-60%);
      background-color: var(--weak-text);
    }

    .arrows {
      display: none;
    }
  }
}
