.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-image: url("/blog-bg-icon.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    background-size: contain;
    background-color: var(--yellow);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("/blog-hero-background.webp") center/cover no-repeat;
      opacity: 0.2;
      pointer-events: none;
      mix-blend-mode: multiply;
    }
  }

  .wrapper {
    padding: 4.6rem 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .titleWrapper {
      display: flex;
      flex-direction: column;
      gap: 2.125rem;

      .breadCrumb {
        text-align: flex-start;
        font-family: var(--font-saira);
        font-weight: 400;
        color: var(--black);
        font-size: 0.875rem;
      }

      .title {
        font-family: var(--font-saira-condensed);
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 89%;
        color: var(--background);
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.375rem;

      .sliderSide {
        width: 100%;
        position: relative;
        max-width: 738px;
        z-index: 2;
        position: relative;

        .swiperItemWrapper {
          position: relative;
          width: 738px;
          position: relative;

          .swiperItem {
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            position: relative;
            text-decoration: none;

            &:hover {
              .postTitle {
                text-decoration: underline;
              }
            }

            .postImageWrapper {
              position: relative;
              width: 738px;
              height: 430px;

              .postImage {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .postTitle {
              font-family: var(--font-saira-condensed);
              font-weight: 700;
              font-size: 1.56rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
              color: var(--background);
              letter-spacing: 0%;
              line-height: 104%;
              padding-left: 2.875rem;
              max-width: 523px;
            }
          }
        }

        .customPaginationContainer {
          position: absolute;
          bottom: 45px;
          right: 0;
          height: 50px;
          z-index: 100;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          :global(.swiper-pagination-bullet) {
            background-color: var(--yellow-weak);
            width: 8.5px;
            height: 8.5px;
          }

          :global(.swiper-pagination-bullet-active) {
            background-color: var(--background);
            width: 15.15px;
            height: 15.15px;
          }
        }
      }

      .recommendationsSide {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        .recommendedPost {
          display: flex;
          align-items: center;
          text-decoration: none;
          gap: 1.25rem;

          &:hover {
            text-decoration: underline;
          }

          .imageWrapper {
            position: relative;
            max-width: 174px;
            width: 100%;
            height: 104px;
            flex-shrink: 0;

            img {
              object-fit: cover;
            }
          }

          .description {
            font-family: var(--font-saira-condensed);
            color: var(--black);
            font-weight: 700;
            font-size: 1.56rem;
            line-height: 104%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .blogHeroShape {
    width: 100vw;
    position: absolute;
    height: 120px;
    bottom: -45px;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 5000;

    .firstVector {
      width: 50%;
      position: absolute;
      right: 0;
    }

    .secondVector {
      max-width: 50%;
      object-fit: cover;
      position: relative;
      left: 0;
    }
  }
}

@media (max-width: 1279px) {
  .container {
    .wrapper {
      padding: 4.6rem 2.5rem;
    }
  }
}

@media (max-width: 1180px) {
  .container {
    .background {
      background-image: none;
    }

    .wrapper {
      .content {
        position: relative;
        grid-template-columns: 1fr;
        justify-items: center;
        column-gap: 0;
        row-gap: 5.875rem;

        .sliderSide {
          max-width: 100%;
          min-width: 200px;

          .swiperItemWrapper {
            width: 100%;

            .swiperItem {
              width: 100%;

              .postImageWrapper {
                width: 100%;
                height: 430px;

                .postImage {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                }
              }

              .postTitle {
                padding-left: 0;
                font-size: 1.25rem;
              }
            }
          }

          .customPaginationContainer {
            left: 50%;
            bottom: -15%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      padding: 3.25rem 1.25rem;

      .titleWrapper {
        display: none;
      }

      .content {
        .sliderSide {
          .swiperItemWrapper {
            .swiperItem {
              .postImageWrapper {
                min-height: 387px;
                height: 209px;
              }

              .postTitle {
                font-size: 1.25rem;
              }
            }
          }
        }

        .recommendationsSide {
          .recommendedPost {
            .imageWrapper {
              min-width: 183px;
            }

            .description {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}
