.container {
  max-width: 100%;
  position: relative;
  min-height: 700px;
  overflow: hidden;

  .content {
    position: relative;
    margin: 3.75rem 5rem;

    .backgroundImagesWrapper {
      max-width: 100%;
      width: 100%;
      height: 520px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("/announcement-background.webp");
      background-size: cover;
      background-position: center 120px;
      background-repeat: no-repeat;
      display: block;

      .blur {
        position: relative;
        width: 100%;
        height: 100%;
        top: -200px;
      }

      &::before {
        content: "";
        width: 200px;
        height: 200px;
        position: relative;
      }
    }

    .announcement {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      min-height: 640px;

      .artistImages {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        pointer-events: none;
        padding-top: 10rem;

        .artistImage {
          position: relative;
          max-width: 420px;
          width: 100%;
          height: 437px;
        }
      }

      .announcementInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%) rotate(-4deg);
        width: 100%;

        .test {
          position: absolute;
          width: 100%;
          height: 100%;
          top: -100%;
          background-color: #00000005;
          filter: drop-shadow(30px 10px 4px #00000040);
        }

        .upperSide {
          display: flex;
          align-items: center;

          .leftSide {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 80%;
              background-color: var(--border);
              top: 50%;
              right: 5%;
              transform: translateY(-50%);
            }
          }

          .rightSide {
            display: flex;
            flex-direction: column;
            gap: 2px;
            text-transform: uppercase;
            font-family: var(--font-saira-condensed);
            line-height: 0.95;
            padding-left: 1rem;

            .regular {
              font-weight: 300;
              font-size: 68px;
              color: var(--white);
            }

            .highlighted {
              font-weight: 700;
              font-size: 68px;
              color: var(--yellow);
            }

            .followUs {
              font-weight: 700;
              font-size: 1rem;
              color: var(--white);
              line-height: 1;
              text-transform: none;
            }
          }
        }

        .bottomSide {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0.5rem;
          border-radius: 18.75px;
          border: 1px solid var(--border);
          background-color: #151515;

          .channelLink {
            padding: 0.5rem 1rem;
            border-radius: 7px;
            display: flex;
            align-items: center;
            gap: 7px;
            text-decoration: none;
            font-family: var(--font-saira-condensed);
            font-weight: 500;
            color: var(--white);

            &.follow {
              background-color: var(--twitch-purple);
            }

            &.subscribe {
              background-color: var(--subscribe-background);
            }
          }
        }
      }
    }
  }

  .vector {
    z-index: 1000;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .container {
    .content {
      .announcement {
        .announcementInformation {
          top: 5%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .container {
    .content {
      margin: 3.75rem 0;

      .announcement {
        .artistImages {
          display: flex;
          justify-content: space-between;

          .artistImage {
            max-width: 360px;
            width: 100%;
          }
        }

        .announcementInformation {
          top: 5%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .content {
      margin: 3.75rem 0;

      .backgroundImagesWrapper {
        background-size: auto;
        background-position-x: 52%;
        background-position-y: 170px;
      }

      .announcement {
        padding-bottom: 0;
        .artistImages {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;

          .artistImage {
            &.artistFirst {
              width: 281px;
              height: 293px;
              transform: translateX(-10%) translateY(13%);
            }

            &.artistSecond {
              width: 221px;
              height: 387px;
              transform: translateX(-5%) translateY(20%);
            }
          }
        }

        .announcementInformation {
          top: 15%;
          gap: 13px;

          .test {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            transform: translateY(-100%);
            background-color: #00000005;
            filter: drop-shadow(30px 10px 4px #00000040);
          }

          .upperSide {
            .leftSide {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 107px;
                height: 66px;
                scale: 1.7;
              }

              &::before {
                height: 155%;
                right: -4%;
              }
            }

            .rightSide {
              padding-left: 1rem;

              .regular {
                font-size: 46px;
              }

              .highlighted {
                font-size: 46px;
              }

              .followUs {
                font-size: 10.85px;
              }
            }
          }

          .bottomSide {
            gap: 10px;
            padding: 0.5rem;

            .channelLink {
              padding: 0.25rem 0.5rem;
              font-size: 16px;

              svg {
                width: 12px;
                height: 11px;
              }
            }
          }
        }
      }
    }
  }
}
