.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 8rem;

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    flex-grow: 3;

    .leftSideUpper {
      .headerWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header {
          display: flex;
          align-items: center;
          gap: 1.56rem;

          svg {
            width: 53px;
            height: 53px;
          }
        }
      }

      .categoriesResponsive {
        display: none;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: var(--white);
      cursor: pointer;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 19px;

        &:hover {
          opacity: 0.6;
        }

        &.active {
          color: var(--yellow);
        }
      }
    }

    .list {
      max-width: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      flex-direction: column;
      gap: 5rem;
      position: relative;

      .postContainer {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 20px;
        align-items: start;
        position: relative;

        .postContent {
          position: relative;
          font-family: var(--font-saira-condensed);
          font-size: 1.56rem;
          font-size: 25px;
          font-weight: 700;
          max-width: 100%;
          line-height: 104%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.gridView {
        grid-template-columns: 1fr 1fr;

        .postImage {
          max-width: 200px;
          overflow: clip;
        }
      }
    }
  }

  .rightSide {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12.5rem;

    .sticky {
      position: sticky;
      top: 105px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 1180px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;

    .leftSide {
      width: 100%;
      position: relative;

      .list {
        width: 100%;
        position: relative;

        .postContainer {
          width: 100%;
          position: relative;
          max-width: 100%;
          grid-template-columns: min-content auto;

          .postContent {
            position: relative;
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .rightSide {
      .sticky {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;

    .leftSide {
      width: 100%;
      position: relative;

      .leftSideUpper {
        display: flex;
        flex-direction: column;
        gap: 2.6rem;

        .categoriesResponsive {
          display: flex;
        }

        .headerWrapper {
          .header {
            gap: 0.93rem;
            svg {
              width: 42px;
              height: 42px;
            }
          }
        }
      }

      .buttons {
        .icon {
          width: 19px;
          height: 19px;
        }
      }

      .list {
        width: 100%;
        position: relative;
        gap: 3.75rem;

        .postContainer {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.25rem;

          .postContent {
            position: relative;
            width: 100%;
            max-width: 100%;
            font-size: 1.25rem;
          }

          .wrapperSpace {
            gap: 20px;
          }
        }

        &.gridView {
          grid-template-columns: 1fr 1fr;

          .postImage {
            max-width: 100%;
            overflow: clip;
          }
        }
      }
    }

    .rightSide {
      .categories,
      .sticky {
        display: none;
      }
    }
  }
}
