.container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    .header {
      font-family: var(--font-saira-condensed);
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 104%;
      color: var(--white);
      width: 100%;
    }

    .sendButton {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: var(--yellow);
      text-transform: uppercase;
      font-family: var(--font-saira);
      font-size: 0.875rem;
      font-weight: 700;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.375rem;

    .linksWrapper {
      display: flex;
      flex-direction: column;
      gap: 4.875rem;

      .socialLinks {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--yellow);
          transition: opacity 0.3s ease-in-out;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      .otherUrls {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .firstLine,
        .secondLine {
          display: flex;
          align-items: center;
          gap: 3.75rem;

          a {
            font-family: var(--font-saira);
            font-weight: 400;
            font-size: 0.875rem;
            color: var(--white);
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: var(--yellow);
            }
          }
        }
      }
    }

    .copyright {
      font-family: var(--font-saira);
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--copyright-gray);
    }
  }
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 3.875rem 5rem;

  .inputWrapper {
    gap: 3.375rem;

    .logo {
      color: var(--yellow);
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 3.375rem;
      width: 100%;
    }
  }

  .socials {
    .linksWrapper {
      gap: 2rem;

      .otherUrls {
        flex-direction: row;
        gap: 2.5rem;

        .firstLine,
        .secondLine {
          gap: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2.5rem;
    width: 100%;

    .inputWrapper {
      width: 100%;

      .header {
        text-align: center;
      }

      .logo {
        display: none;
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      .socialLinks {
        justify-content: center;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .footerContainer {
    padding: 5rem 1.25rem;
  }
}

@media all and (max-width: 580px) {
  .footerContainer {
    .inputWrapper {
      width: 100%;

      .header {
        font-size: 1.56rem;
        text-align: left;
        text-transform: uppercase;
      }

      .logo {
        display: none;
      }
    }

    .socials {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .linksWrapper {
        justify-content: flex-start;

        .socialLinks {
          justify-content: flex-start;
        }

        .otherUrls {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
