.container {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding: 5rem 0;

  .labels {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);
    padding: 2rem 6rem;
    width: fit-content;
    clip-path: polygon(90% 80%, 100% 0%, 0% 0%, 0% 100%);

    .youtubeLogo,
    .spotifyLogo {
      color: var(--black);
      transition: color 0.3s ease-in-out;
    }

    .youtubeLogo {
      &:hover {
        color: #d40000;
      }
    }

    .spotifyLogo {
      &:hover {
        color: green;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      max-height: calc(1.5em * 2);
      padding: 0 5rem;
      max-width: 25%;
    }

    .swiperWrapper {
      max-width: 900px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.18rem;

      .header {
        max-width: 40%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1080px) {
  .container {
    padding: 5rem;

    .wrapper {
      .swiperWrapper {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;

    .labels {
      max-width: 376px;
      width: 100%;
      padding-left: 4.25rem;
      padding-right: 50px;
      padding-top: 1.5rem;

      svg {
        width: 111px;
        height: 33px;
      }
    }

    .wrapper {
      .header {
        max-width: 60%;
        text-align: center;
        padding: 0;
      }

      .swiperWrapper {
        padding-left: 78px;
        .swiper {
          width: fit-content;
        }
      }
    }
  }
}
