.container {
  text-decoration: none;
  color: var(--white);
  position: relative;

  display: flex;
  align-items: stretch;
  gap: 3.4rem;

  .index {
    font-family: var(--font-saira-condensed);
    font-weight: 700;
    font-size: 4rem;
    color: var(--weak-text);
    transition: color 0.2s ease-in-out;
    height: fit-content;
    max-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .index {
      color: var(--yellow);
    }

    .wrapper {
      .readMore {
        svg {
          opacity: 1;
          transform: translateX(100%);
        }
      }
    }
  }

  .postImageSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;

    .postImage {
      position: relative;
      width: 300px;
      height: 196px;
    }

    .date {
      font-family: var(--font-saira);
      font-weight: 400;
      color: var(--date-text);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    gap: 30px;

    .postInformation {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      .contentWrapper {
        padding-bottom: 1.875rem;
        border-bottom: 1px solid var(--border);

        .content {
          font-family: var(--font-saira-condensed);
          font-size: 1.56rem;
          font-weight: 700;
          max-width: 400;
          line-height: 104%;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .readMore {
      display: flex;
      align-items: center;
      gap: 0;
      font-family: var(--font-saira);
      font-weight: 400;
      font-size: 1rem;

      svg {
        width: 0.9rem;
        height: 0.9rem;
        transform: translateX(0);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        color: var(--yellow);
      }
    }
  }
}
