.container {
  text-decoration: none;
  color: var(--white);
  position: relative;
  width: 100%;

  display: flex;
  align-items: stretch;
  gap: 3.4rem;

  .index {
    font-family: var(--font-saira-condensed);
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--weak-text);
    transition: color 0.2s ease-in-out;
    height: fit-content;
    max-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .index {
      color: var(--yellow);
    }

    .wrapper {
      .readMore {
        svg {
          opacity: 1;
          transform: translateX(100%);
        }
      }
    }
  }

  .postImageSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;

    .postImage {
      position: relative;
      width: 300px;
      height: 196px;
    }

    .date {
      font-family: var(--font-saira);
      font-weight: 400;
      color: var(--date-text);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    gap: 30px;
    position: relative;

    .postInformation {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1.875rem;

      .contentWrapper {
        width: 100%;
        position: relative;
        padding-bottom: 1.875rem;
        border-bottom: 1px solid var(--border);

        .content {
          font-family: var(--font-saira-condensed);
          font-size: 1.56rem;
          font-weight: 700;
          max-width: 400px;
          line-height: 104%;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .readMore {
      display: flex;
      align-items: center;
      gap: 0;
      font-family: var(--font-saira);
      font-weight: 400;
      font-size: 1rem;

      svg {
        width: 0.9rem;
        height: 0.9rem;
        transform: translateX(0);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        color: var(--yellow);
      }
    }
  }
}

.containerVertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  text-decoration: none;
  color: var(--white);

  &:hover {
    .index {
      color: var(--yellow);
    }

    .wrapper {
      .readMore {
        svg {
          opacity: 1;
          transform: translateX(100%);
        }
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .postImageSide {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      .postImage {
        position: relative;
        width: 100%;
        height: 196px;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;

      .postInformation {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1.875rem;

        .contentWrapper {
          width: 100%;
          position: relative;
          padding-bottom: 1.875rem;
          border-bottom: 1px solid var(--border);

          .content {
            font-family: var(--font-saira-condensed);
            font-size: 1.25rem;
            font-weight: 700;
            max-width: 400px;
            line-height: 104%;
            min-height: 105px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .readMore {
        display: flex;
        align-items: center;
        gap: 0;
        font-family: var(--font-saira);
        font-weight: 400;
        font-size: 1rem;

        svg {
          width: 0.9rem;
          height: 0.9rem;
          transform: translateX(0);
          opacity: 0;
          transition: all 0.2s ease-in-out;
          color: var(--yellow);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .postImageSide {
      height: 245px;

      .postImage {
        position: relative;
        width: 240px;
        height: 196px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .postImageSide {
      width: 100%;
      .postImage {
        width: 100%;
      }
    }

    .wrapper {
      .postInformation {
        .contentWrapper {
          padding-bottom: 1.25rem;
          .content {
            font-size: 1.25rem;
          }
        }
      }

      .readMore {
        font-size: 0.875rem;

        svg {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
  }
}
