.container {
  z-index: 1;
  width: 100%;
  position: relative;

  .heroVector {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 200px;
    user-select: none;

    img {
      object-fit: contain;
    }
  }

  .customPaginationContainer {
    position: absolute;
    bottom: 70px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 15%;
    left: 56%;
    z-index: 4000;
    cursor: pointer;
    width: fit-content;

    :global(.swiper-pagination-bullet) {
      background-color: var(--bullet-inactive-background);
      width: 6.63px;
      height: 6.63px;
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: var(--yellow);
      width: 11.82px;
      height: 11.82px;
    }
  }
}

@media (min-width: 1441px) {
  .container {
    .heroVector {
      img {
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    .heroVector {
      bottom: -30px;
    }
  }
}

@media (max-width: 1400px) {
  .container {
    .customPaginationContainer {
      bottom: 10%;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .customPaginationContainer {
      left: 50%;
      transform: translateX(-60%);
    }
  }
}

@media (max-width: 1180px) {
  .container {
    .heroVector {
      bottom: -40px;
    }
  }
}

@media (max-width: 968px) {
  .container {
    .heroVector {
      bottom: -50px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .heroVector {
      bottom: -60px;
      img {
        object-fit: contain;
      }
    }

    .customPaginationContainer {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .heroVector {
      bottom: -70px;
    }
  }
}

@media (max-width: 540px) {
  .container {
    .heroVector {
      bottom: -80px;
    }
  }
}
